@using System.Threading.Tasks
@model Projecten2.Models.ViewModels.BatenViewModels.BVraagDoubleViewModel

<main class="vragen">
    <div class="contain">
        <h1>@Model.Vraag</h1>
        <a asp-controller="Analyse" asp-action="kostenbaten" asp-route-AnalyseId="@Model.AnalyseId" asp-route-VraagId="@Model.Vraag" class="terug button"><i class="fa fa-arrow-left"></i> Terug</a>
        <div class="window">
            <form asp-controller="Analyse" asp-action="BVraag2" method="post">
                <input type="hidden" asp-for="AnalyseId" />
                <div class="vak">
                    <label asp-for="Bedrag"></label>
                    <input asp-for="Bedrag" type="text" />
                </div>
                <button type="submit">Bevestig</button>
                <div class="clear"></div>
                <span asp-validation-for="Bedrag" class="alert"></span>
                <div class="clear"></div>
            </form>
        </div>
    </div>
</main>