@{
    ViewData["Title"] = "KostenBaten";
}

<main>
    <div class="contain">
        <h1>Analyse-naam</h1>
        <div class="baten">
            <h2 class="top">Baten</h2>
            <div class="onderdeel">
                <p class="info">Totale loonkostsubsidies (VOP, IBO en doelgroepvermindering)</p>
                <p class="bedrag green">€ <span>100 000</span></p>
            </div>
            <div class="onderdeel">
                <p class="info">tegemoetkoming in de kosten voor aanpassingen werkomgeving/aangepast gereedschap</p>
                <p class="bedrag green">€ <span>100 000</span></p>
            </div>
            <div class="onderdeel">
                <p class="info">besparing reguliere medew. op hetzelfde niveau</p>
                <p class="bedrag green">€ <span>100 000</span></p>
            </div>
            <div class="onderdeel">
                <p class="info">besparing reguliere medew. op hoger niveau</p>
                <p class="bedrag green">€ <span>100 000</span></p>
            </div>
            <div class="onderdeel">
                <p class="info">besparing (extra) uitzendkrachten</p>
                <p class="bedrag green">€ <span>100 000</span></p>
            </div>
            <div class="onderdeel">
                <p class="info">inperking omzetverlies</p>
                <p class="bedrag green">€ <span>100 000</span></p>
            </div>
            <div class="onderdeel">
                <p class="info">productiviteitswinst</p>
                <p class="bedrag green">€ <span>100 000</span></p>
            </div>
            <div class="onderdeel">
                <p class="info">besparing op overuren</p>
                <p class="bedrag green">€ <span>100 000</span></p>
            </div>
            <div class="onderdeel">
                <p class="info">besparing op outsourcing</p>
                <p class="bedrag green">€ <span>100 000</span></p>
            </div>
            <div class="onderdeel">
                <p class="info">logistieke besparing</p>
                <p class="bedrag green">€ <span>100 000</span></p>
            </div>
            <div class="onderdeel">
                <p class="info">andere besparingen</p>
                <p class="bedrag green">€ <span>100 000</span></p>
            </div>
            <div class="onderdeel">
                <h3 class="info">Subtotaal Baten</h3>
                <p class="bedrag green bold">€ <span>1 100 000</span></p>
            </div>
        </div>
        <div class="kosten">
            <h2 class="top">Kosten</h2>
            <div class="onderdeel">
                <p class="bedrag red">€ <span>100 000</span></p>
                <p class="info">loonkosten medewerkers met grote afstand tot arbeidsmarkt</p>
            </div>
            <div class="onderdeel">
                <p class="bedrag red">€ <span>100 000</span></p>
                <p class="info">voorbereiding start medewerker met grote afstand tot de arbeidsmarkt</p>
            </div>
            <div class="onderdeel">
                <p class="bedrag red">€ <span>100 000</span></p>
                <p class="info">extra kosten werkkleding e.a. personeelskosten</p>
            </div>
            <div class="onderdeel">
                <p class="bedrag red">€ <span>100 000</span></p>
                <p class="info">extra kosten voor aanpassingen werkomgeving/aangepast gereedschap</p>
            </div>
            <div class="onderdeel">
                <p class="bedrag red">€ <span>100 000</span></p>
                <p class="info">extra kosten opleiding</p>
            </div>
            <div class="onderdeel">
                <p class="bedrag red">€ <span>100 000</span></p>
                <p class="info">extra kosten administratie en begeleiding</p>
            </div>
            <div class="onderdeel">
                <p class="bedrag red">€ <span>100 000</span></p>
                <p class="info">Andere kosten</p>
            </div>
            <div class="onderdeel">
                <p class="bedrag"></p>
                <p class="info"></p>
            </div>
            <div class="onderdeel">
                <p class="bedrag"></p>
                <p class="info"></p>
            </div>
            <div class="onderdeel">
                <p class="bedrag"></p>
                <p class="info"></p>
            </div>
            <div class="onderdeel">
                <p class="bedrag"></p>
                <p class="info"></p>
            </div>
            <div class="onderdeel">
                <p class="bedrag red bold">€ <span>700 000</span></p>
                <h3 class="info">Subtotaal Kosten</h3>
            </div>
        </div>
        <div class="clear"></div>
        <div class="subtotaal">
            <p class="green bold">€ 400 000</p>
        </div>
    </div>
</main>
