@using System.Threading.Tasks
@using Microsoft.ApplicationInsights.Extensibility
@using Projecten2.Models.Domain

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Projecten2</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/css.css" />
        <link rel="stylesheet" href="~/font-awesome-4.7.0/css/font-awesome.min.css">
    </environment>

    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
   
</head>

<body>
<header>
    @await Html.PartialAsync("_Navigation")
</header>

    @RenderBody()

<footer>
    <p>&copy; 2017 - Projecten2</p>
</footer>

<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@RenderSection("scripts", required: false)
</body>
</html>
