@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Paswoord vergeten?";
}

@*<p>
        For more information on how to enable reset password please see this <a href="http://go.microsoft.com/fwlink/?LinkID=532713">article</a>.
    </p>*@

<main class="login">
    <div class="window">
        <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
            <h2>@ViewData["Title"]</h2>
            <div>
                <label asp-for="Email"></label>
                <input asp-for="Email" type="text" name="email" placeholder="E-mail">
                <span asp-validation-for="Email" class="alert"></span>
            </div>
            <button type="submit">Bevestig</button>
            <a asp-controller="Account" asp-action="Login" class="rightbutton button">Annuleer</a>
        </form>
    </div>
</main>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
