@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<main class="login">
    <div class="window">

        <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <h2>@ViewData["Title"]</h2>
            <div>
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" type="text" name="email" placeholder="E-mail">
                <span asp-validation-for="Email" class="alert"></span>

            </div>
            <div>
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" type="password" name="wachtwoord" placeholder="Password">
                <span asp-validation-for="Password" class="alert"></span>
            </div>
            <div class="checkbox">
                <label asp-for="RememberMe">
                    <input asp-for="RememberMe" input type="checkbox" name="rememberme" value="" class="rememberme">
                    @Html.DisplayNameFor(m => m.RememberMe)
                </label>

            </div>

            <button type="submit">Login</button>


            <a  type="button" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="rightbutton button" >Register</a>


            <p class="forgotpass"><a asp-action="ForgotPassword">Wachtwoord vergeten? </a></p>
        </form>
    </div>
    <div class="welkom">
        <p>
            Waarom zou een werkgever investeren in het tewerkstellen van personen
            met een grote afstand tot de  arbeidsmarkt  en/offunctiecreatie?  We
            zijn  geneigd  tedenken  dat  we -ook  managers  en bedrijfsleiders -erg
            rationele wezenszijn, die (grote) beslissingen weloverwogen maken. Maar...
            zijn menselijke beslissingen wel zo rationeel als we denken?
        </p>
        <p>
            Het maken van  een business case kan helpen om de besluitvorming te verbeteren,
            want het geeft betrouwbare, op  feiten gebaseerde  informatie  en vermindert de
            subjectiviteit in  beoordeling en besluitvorming. De kans dat  de werkgever op jouw
            aanbod  zal  ingaan naarmate je deze vraag duidelijk en zakelijk onderbouwd weet te beantwoorden.
        </p>
        <p>
            Met dit model kan je werkgevers inzicht geven in de economische waarde van het werken
            met mensen met een grote afstand tot de arbeidsmarkt.
        </p>
    </div>
</main>