@{
    ViewData["Title"] = "Registratie is compleet.";
}

<main class="login">
    <div class="textbox">
        <h2>@ViewData["Title"].</h2>
        <p>
            Check je email om je paswoord in te stellen.
        </p>
    </div>
</main>

