@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}



@*<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>Registratie</h4>
    
    <div asp-validation-summary="All " class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Naam" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Naam" class="form-control" />
            <span asp-validation-for="Naam" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Voornaam" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Voornaam" class="form-control" />
            <span asp-validation-for="Voornaam" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Organisatie" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Organisatie" class="form-control" />
            <span asp-validation-for="Organisatie" class="text-danger"></span>
        </div>
    </div>
    <label>Adres organisatie:</label>
    <div class="form-group">
        <label asp-for="Straat" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Straat" class="form-control" />
            <span asp-validation-for="Straat" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="_1ixn">
            <div class="clearfix _58mh">
                <div class="form-group">
                    <label asp-for="Nr" class=" control-label"></label>
                    <div class="">
                        <input asp-for="Nr" class="form-control" />
                        <span asp-validation-for="Nr" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Bus" class=" control-label"></label>
                    <div class="">
                        <input asp-for="Bus" class="form-control" />
                        <span asp-validation-for="Bus" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Postcode" class=" control-label"></label>
                    <div class="">
                        <input asp-for="Postcode" class="form-control" />
                        <span asp-validation-for="Postcode" class="text-danger"></span>
                    </div>
                </div>
            </div>
            </div>
        </div>
            <div class="form-group">
                <label asp-for="Plaats" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Plaats" class="form-control" />
                    <span asp-validation-for="Plaats" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-5">
                        <button type="submit" class="btn btn-default">Register</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5">
                        <button type="button" class="btn btn-default">Annuleer</button>
                    </div>
                </div>
            </div>
</form>*@

<main class="login">
    <div class="window">
        <form form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <h2>@ViewData["Title"]</h2>
                <div>
                    <label asp-for="Naam"></label>
                    <input asp-for="Naam" type="text" name="naam" placeholder="Naam">
                    <span asp-validation-for="Naam" class="alert"></span>
                </div>
                <div>
                    <label asp-for="Voornaam"></label>
                    <input asp-for="Voornaam" type="text" name="voornaam" placeholder="Voornaam">
                    <span asp-validation-for="Voornaam" class="alert"></span>
                </div>
                <div>
                    <label asp-for="Email"></label>
                    <input asp-for="Email" type="text" name="email" placeholder="E-mail">
                    <span asp-validation-for="Email" class="alert"></span>
                </div>
                <div>
                    <label asp-for="Organisatie"></label>
                    <input asp-for="Organisatie" type="text" name="Organisatie" placeholder="Organisatie">
                    <span asp-validation-for="Organisatie" class="alert"></span>
                </div>
                <h1 class="profiel">Adres Organisatie:</h1>
                <div>
                    <label asp-for="Straat"></label>
                    <input asp-for="Straat" type="text" name="Straat" placeholder="Straat">
                    <span asp-validation-for="Straat" class="alert"></span>
                </div>
                <div class="nr">
                    <label asp-for="Nr"></label>
                    <input asp-for="Nr" type="text" name="Nr" placeholder="Nr">
                    <span asp-validation-for="Nr" class="alert"></span>
                </div>
                <div class="bus">
                    <label asp-for="Bus"></label>
                    <input asp-for="Bus" type="text" name="Bus" placeholder="Bus">
                    <span asp-validation-for="Bus" class="alert"></span>
                </div>
                <div class="pc">
                    <label asp-for="Postcode"></label>
                    <input asp-for="Postcode" type="text" name="Postcode" placeholder="Postcode">
                    <span asp-validation-for="Postcode" class="alert"></span>
                </div>
                <div class="clear"></div>
                <div>
                    <label asp-for="Plaats"></label>
                    <input asp-for="Plaats" type="text" name="Plaats" placeholder="Plaats">
                    <span asp-validation-for="Plaats" class="alert"></span>
                </div>
            <button type="submit">Register</button>
            <a asp-controller="Account" asp-action="Login"  class="rightbutton button">annuleren</a>
        </form>
    </div>
</main>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
