@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<main class="login">
    <div class="window">
        <form form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <h2>@ViewData["Title"]</h2>
            <div>
                <label asp-for="Email"></label>
                <input asp-for="Email" type="text">
                <span asp-validation-for="Email" class="alert"></span>
            </div>
            <div>
                <label asp-for="Password"></label>
                <input asp-for="Password" type="text">
                <span asp-validation-for="Password" class="alert"></span>
            </div>
            <div>
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" type="text">
                <span asp-validation-for="ConfirmPassword" class="alert"></span>
            </div>
            <button type="submit">Reset</button>
        </form>
    </div>
</main>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
