@model ResetPasswordViewModel

<main class="login">
    <div class="window">
        <form asp-controller="Account" asp-action="ResetPassword" method="post">
            <p>Kies een nieuw wachtwoord.</p>
            <input type="hidden" asp-for="Email" />
            <div>
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password">
                <span asp-validation-for="Password" class="alert"></span>
            </div>
            <div>
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" type="password">
                <span asp-validation-for="ConfirmPassword" class="alert"></span>
            </div>
            <button type="submit">Reset</button>
        </form>
    </div>
</main>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
