@model Projecten2.Models.Domain.Analyse


<main class="overzicht">
    <div class="contain">
        <h1>Welke kosten moet u ter voorbereiding maken om dit te implementeren?</h1>
        <a asp-controller="Vragen" asp-action="BVraagS2" asp-route-AnalyseId="@Model.AnalyseId" asp-route-VraagId="3" class="terug button"><i class="fa fa-plus"></i> Nieuwe type</a>
        <table style="width:30%">
            <tr>
                <th>Bruto maandloon fulltime</th>
                <th>Uren</th>
            </tr>
            @if (Model.Baten.Bvragen3.Count == 0)
            {
                <tr>
                    <th colspan="2" class="alert">Er zijn geen functies.</th>
                </tr>
            }
            @foreach (var item in Model.Baten.Bvragen3)
            {
                <tr>
                    <th>@item.BrutoMaandloonFulltime</th>
                    <th>@item.Uren</th>
                </tr>
            }
        </table>
    </div>
</main>