@model Projecten2.Models.Domain.Analyse


<main class="overzicht">
    <div class="contain">
        <a asp-controller="Vragen" asp-action="KVraagS3" asp-route-AnalyseId="@Model.AnalyseId" class="terug button"><i class="fa fa-plus"></i> Nieuwe begeleider</a>
        <table style="width:30%">
            <tr>
                <th>Uren</th>
                <th>Bruto Maandloon Begeleider</th>
            </tr>
            @if (Model.Kosten.Kvragen6.Count == 0)
            {
                <tr>
                    <th colspan="2" class="alert">Er zijn geen functies.</th>
                </tr>
            }
            @foreach (var item in Model.Kosten.Kvragen6)
            {
                <tr>
                    <th>@item.Uren</th>
                    <th>@item.BrutoMaandloonBegeleider</th>
                </tr>
            }
        </table>
    </div>
</main>