@using Projecten2.Models.ViewModels
@model ContactViewModel
@{
    ViewData["Title"] = "Contact";
}

<main class="contact">
    <div class="contain">
        <h1>@ViewData["Title"]</h1>
        @if (TempData["Message"] != null)
        {
            <p class="confirmation"><i class="fa fa-check-square"></i> @TempData["Message"]</p>
        }
        @if (TempData["Error"] != null)
        {
            <p class="confirmationerror"><i class="fa fa-exclamation-triangle"></i> @TempData["Error"]</p>
        }
        <form asp-controller="Home" asp-action="Contact" method="post">
            <div>
                <label asp-for="Onderwerp"></label>
                <input asp-for="Onderwerp" type="text"/>
                <span asp-validation-for="Onderwerp" class="alert"></span>
            </div>
            <div>
                <label asp-for="Bericht"></label>
                <textarea asp-for="Bericht"></textarea>
                <span asp-validation-for="Bericht" class="alert"></span>
            </div>
            <button type="submit">Verzend</button>
        </form>
    </div>
</main>