@model EditViewModel

@{
    ViewData["Title"] = Model.BrewerId == 0 ? "Maak analyse" : "Bewerk brewer";
    var action = Model.BrewerId == 0 ? "Create" : "Edit";
}

<main>
    <div class="contain">
        <h1>@ViewData["Title"]</h1>
        <div class="window">
            <form asp-action="@action" method="post">
                <div>
                    <p>Naam</p>
                    <input type="text" name="naam" placeholder="Naam">
                    <span class="alert">Dit is een error!</span>
                </div>
                <div>
                    <p>Bedrijf</p>
                    <input type="text" name="voornaam" placeholder="Voornaam">
                    <span class="alert"></span>
                </div>
                <div>
                    <p>Afdeling</p>
                    <input type="text" name="email" placeholder="E-mail">
                    <span class="alert"></span>
                </div>
                <button type="submit">Bevestig</button>
                <a asp-controller="Home" asp-action="Index" class="rightbutton button">Annuleer</a>
            </form>
        </div>
    </div>
</main>