@{
    ViewData["Title"] = "Overzicht";
}

<main>
    <div class="contain">
        <h1>Overzicht</h1>
        <a href="#" class="analyse">
            <p><i class="fa fa-plus"></i> Nieuwe analyse</p>
        </a>
        <div class="analyse">
            <div class="analysetop">
                <a href="#" class="naam">Naam</a>
                <a href="#"><i class="fa fa-download"> </i></a> <!-- download -->
                <a href="#"><i class="fa fa-envelope"> </i></a> <!-- mail -->
                <a href="#"><i class="fa fa-trash"> </i></a> <!-- delete -->
                <div class="clear"></div>
            </div>
            <div class="analysebottom">
                <p class="bedrijf">Bedrijf: Google</p>
                <p class="datum">19 feb 2017</p>
                <p class="afdeling">Afdeling: Wc-dienst1</p>
                <p class="kostenbaten">0</p>
                <div class="clear"></div>
            </div>
        </div>
        <div class="analyse">
            <div class="analysetop">
                <a href="#" class="naam">Naam</a>
                <a href="#"><i class="fa fa-download"> </i></a> <!-- download -->
                <a href="#"><i class="fa fa-envelope"> </i></a> <!-- mail -->
                <a href="#"><i class="fa fa-trash"> </i></a> <!-- delete -->
                <div class="clear"></div>
            </div>
            <div class="analysebottom">
                <p class="bedrijf">Bedrijf: Google</p>
                <p class="datum">19 feb 2017</p>
                <p class="afdeling">Afdeling: Wc-dienst1</p>
                <p class="kostenbaten">0</p>
                <div class="clear"></div>
            </div>
        </div>
        <div class="analyse">
            <div class="analysetop">
                <a href="#" class="naam">Naam</a>
                <a href="#"><i class="fa fa-download"> </i></a> <!-- download -->
                <a href="#"><i class="fa fa-envelope"> </i></a> <!-- mail -->
                <a href="#"><i class="fa fa-trash"> </i></a> <!-- delete -->
                <div class="clear"></div>
            </div>
            <div class="analysebottom">
                <p class="bedrijf">Bedrijf: Google</p>
                <p class="datum">19 feb 2017</p>
                <p class="afdeling">Afdeling: Wc-dienst1</p>
                <p class="kostenbaten">0</p>
                <div class="clear"></div>
            </div>
        </div>
        <div class="analyse">
            <div class="analysetop">
                <a href="#" class="naam">Naam</a>
                <a href="#"><i class="fa fa-download"> </i></a> <!-- download -->
                <a href="#"><i class="fa fa-envelope"> </i></a> <!-- mail -->
                <a href="#"><i class="fa fa-trash"> </i></a> <!-- delete -->
                <div class="clear"></div>
            </div>
            <div class="analysebottom">
                <p class="bedrijf">Bedrijf: Google</p>
                <p class="datum">19 feb 2017</p>
                <p class="afdeling">Afdeling: Wc-dienst1</p>
                <p class="kostenbaten">0</p>
                <div class="clear"></div>
            </div>
        </div>
        <div class="analyse">
            <div class="analysetop">
                <a href="#" class="naam">Naam</a>
                <a href="#"><i class="fa fa-download"> </i></a> <!-- download -->
                <a href="#"><i class="fa fa-envelope"> </i></a> <!-- mail -->
                <a href="#"><i class="fa fa-trash"> </i></a> <!-- delete -->
                <div class="clear"></div>
            </div>
            <div class="analysebottom">
                <p class="bedrijf">Bedrijf: Google</p>
                <p class="datum">19 feb 2017</p>
                <p class="afdeling">Afdeling: Wc-dienst1</p>
                <p class="omzet">0</p>
                <div class="clear"></div>
            </div>
        </div>
        <div class="analyse">
            <div class="analysetop">
                <a href="#" class="naam">Naam</a>
                <a href="#"><i class="fa fa-download"> </i></a> <!-- download -->
                <a href="#"><i class="fa fa-envelope"> </i></a> <!-- mail -->
                <a href="#"><i class="fa fa-trash"> </i></a> <!-- delete -->
                <div class="clear"></div>
            </div>
            <div class="analysebottom">
                <p class="bedrijf">Bedrijf: Google</p>
                <p class="datum">19 feb 2017</p>
                <p class="afdeling">Afdeling: Wc-dienst1</p>
                <p class="kostenbaten">0</p>
                <div class="clear"></div>
            </div>
        </div>
        <div class="analyse">
            <div class="analysetop">
                <a href="#" class="naam">Naam</a>
                <a href="#"><i class="fa fa-download"> </i></a> <!-- download -->
                <a href="#"><i class="fa fa-envelope"> </i></a> <!-- mail -->
                <a href="#"><i class="fa fa-trash"> </i></a> <!-- delete -->
                <div class="clear"></div>
            </div>
            <div class="analysebottom">
                <p class="bedrijf">Bedrijf: Google</p>
                <p class="datum">19 feb 2017</p>
                <p class="afdeling">Afdeling: Wc-dienst1</p>
                <p class="kostenbaten">0</p>
                <div class="clear"></div>
            </div>
        </div>
        <div class="analyse">
            <div class="analysetop">
                <a href="#" class="naam">Naam</a>
                <a href="#"><i class="fa fa-download"> </i></a> <!-- download -->
                <a href="#"><i class="fa fa-envelope"> </i></a> <!-- mail -->
                <a href="#"><i class="fa fa-trash"> </i></a> <!-- delete -->
                <div class="clear"></div>
            </div>
            <div class="analysebottom">
                <p class="bedrijf">Bedrijf: Google</p>
                <p class="datum">19 feb 2017</p>
                <p class="afdeling">Afdeling: Wc-dienst1</p>
                <p class="kostenbaten">0</p>
                <div class="clear"></div>
            </div>
        </div>
        <div class="analyse">
            <div class="analysetop">
                <a href="#" class="naam">Naam</a>
                <a href="#"><i class="fa fa-download"> </i></a> <!-- download -->
                <a href="#"><i class="fa fa-envelope"> </i></a> <!-- mail -->
                <a href="#"><i class="fa fa-trash"> </i></a> <!-- delete -->
                <div class="clear"></div>
            </div>
            <div class="analysebottom">
                <p class="bedrijf">Bedrijf: Google</p>
                <p class="datum">19 feb 2017</p>
                <p class="afdeling">Afdeling: Wc-dienst1</p>
                <p class="kostenbaten">0</p>
                <div class="clear"></div>
            </div>
        </div>
        <div class="analyse">
            <div class="analysetop">
                <a href="#" class="naam">Naam</a>
                <a href="#"><i class="fa fa-download"> </i></a> <!-- download -->
                <a href="#"><i class="fa fa-envelope"> </i></a> <!-- mail -->
                <a href="#"><i class="fa fa-trash"> </i></a> <!-- delete -->
                <div class="clear"></div>
            </div>
            <div class="analysebottom">
                <p class="bedrijf">Bedrijf: Google</p>
                <p class="datum">19 feb 2017</p>
                <p class="afdeling">Afdeling: Wc-dienst1</p>
                <p class="kostenbaten">0</p>
                <div class="clear"></div>
            </div>
        </div>
        <div class="analyse">
            <div class="analysetop">
                <a href="#" class="naam">Naam</a>
                <a href="#"><i class="fa fa-download"> </i></a> <!-- download -->
                <a href="#"><i class="fa fa-envelope"> </i></a> <!-- mail -->
                <a href="#"><i class="fa fa-trash"> </i></a> <!-- delete -->
                <div class="clear"></div>
            </div>
            <div class="analysebottom">
                <p class="bedrijf">Bedrijf: Google</p>
                <p class="datum">19 feb 2017</p>
                <p class="afdeling">Afdeling: Wc-dienst1</p>
                <p class="kostenbaten">0</p>
                <div class="clear"></div>
            </div>
        </div>
        <div class="analyse">
            <div class="analysetop">
                <a href="#" class="naam">Naam</a>
                <a href="#"><i class="fa fa-download"> </i></a> <!-- download -->
                <a href="#"><i class="fa fa-envelope"> </i></a> <!-- mail -->
                <a href="#"><i class="fa fa-trash"> </i></a> <!-- delete -->
                <div class="clear"></div>
            </div>
            <div class="analysebottom">
                <p class="bedrijf">Bedrijf: Google</p>
                <p class="datum">19 feb 2017</p>
                <p class="afdeling">Afdeling: Wc-dienst1</p>
                <p class="kostenbaten">0</p>
                <div class="clear"></div>
            </div>
        </div>
        <div class="analyse">
            <div class="analysetop">
                <a href="#" class="naam">Naam</a>
                <a href="#"><i class="fa fa-download"> </i></a> <!-- download -->
                <a href="#"><i class="fa fa-envelope"> </i></a> <!-- mail -->
                <a href="#"><i class="fa fa-trash"> </i></a> <!-- delete -->
                <div class="clear"></div>
            </div>
            <div class="analysebottom">
                <p class="bedrijf">Bedrijf: Google</p>
                <p class="datum">19 feb 2017</p>
                <p class="afdeling">Afdeling: Wc-dienst1</p>
                <p class="kostenbaten">0</p>
                <div class="clear"></div>
            </div>
        </div>
        <div class="analyse">
            <div class="analysetop">
                <a href="#" class="naam">Naam</a>
                <a href="#"><i class="fa fa-download"> </i></a> <!-- download -->
                <a href="#"><i class="fa fa-envelope"> </i></a> <!-- mail -->
                <a href="#"><i class="fa fa-trash"> </i></a> <!-- delete -->
                <div class="clear"></div>
            </div>
            <div class="analysebottom">
                <p class="bedrijf">Bedrijf: Google</p>
                <p class="datum">19 feb 2017</p>
                <p class="afdeling">Afdeling: Wc-dienst1</p>
                <p class="kostenbaten">0</p>
                <div class="clear"></div>
            </div>
        </div>
        <div class="analyse">
            <div class="analysetop">
                <a href="#" class="naam">Naam</a>
                <a href="#"><i class="fa fa-download"> </i></a> <!-- download -->
                <a href="#"><i class="fa fa-envelope"> </i></a> <!-- mail -->
                <a href="#"><i class="fa fa-trash"> </i></a> <!-- delete -->
                <div class="clear"></div>
            </div>
            <div class="analysebottom">
                <p class="bedrijf">Bedrijf: Google</p>
                <p class="datum">19 feb 2017</p>
                <p class="afdeling">Afdeling: Wc-dienst1</p>
                <p class="kostenbaten">0</p>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- content -->
</main>