.alert {
    color: #d32137;
}
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
}
main {
    margin-top: 20px;
    min-height: calc(100vh - 60px);
}
.clear {
    clear: both;
}
.contain {
    max-width: 1080px;
    min-width: 1080px;
    margin: 0 auto;
}
.logo {
    height: 27px;
    float: left;
    padding: 6.5px;
    padding-right: 15px;
}
h1 {
    width: 98.99%;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    margin-right: 1.11%;
}

/* NAVIGATION */
nav {
    min-width: 1080px;
    background-color: #43b72f;
    box-shadow: 2px 2px 2px #e2e2e2;
}
nav ul {
    list-style: none;
    font-size: 0;
}
nav ul li {
    display: inline-block;
    font-size: 0;
}
nav ul li a {
    border: 0px;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 11px;
    padding-bottom: 12px; 
}
nav ul li a:hover {
    background-color: #56ca43;
}
.leftnav {
    float: left;
}
.rightnav {
    float: right;
}
.helpdropdown {
    background-color: #43b72f;
    position: absolute;
    display: none;
}
li:hover .helpdropdown li {
    display: block;
}
li:hover .helpdropdown {
    display: block;
    box-shadow: 2px 2px 2px #e2e2e2;
}

/* OVERZICHT */
.red {
    color: #d32137;
}
.green {
    color: #56ca43;
}
.gray {
    color: darkgray;
}
.bold {
    font-weight: bold;
}
.analyse {
    margin-bottom: 20px;
    background-color: #f5f5f5;
    box-shadow: 2px 2px 2px #e2e2e2;
    width: 32.22%;
    height: 100px;
    margin-right: 1.11%;
    float: left;
    text-decoration: none;
    color: #000000;
}
a.analyse:hover {
    background-color: #caddfc;
}
a.analyse p {
    margin-top: 36px;
    margin-bottom: 36px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}
.analysetop {
    border-bottom: 1px dashed #c4c4c4;
}
.analysetop a {
    font-size: 18px;
    text-decoration: none;
    color: black;
}
.analysetop a:hover {
    text-decoration: underline;
}
.analysetop .naam {
    padding-left: 10px;
    padding-bottom: 3px;
    padding-top: 5px;
    float: left;
    width: 235px;
    height: 21px;
    overflow: hidden;
}
.analysetop a:hover i {
    color: #56ca43;
}
.analysetop i {
    font-size: 18px;
    padding: 7px;
    float: right;
}
.analysebottom {
    padding: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
}
.analysebottom p {
    font-size: 13px;
}
.ratiobalk {
    height: 8px;
    margin-left: 10px;
    margin-right: 10px;
}
.ratiogroen {
    background-color: rgba(86,202,67,0.8);
    height: 15px;
    float: left;
}
.ratioinfog {
    top: -15px;
    position: relative;
    overflow: visible;
    margin-left: 3px;
    margin-top: 1px;
    float: left;
    font-size: 12px;
}
.ratiorood {
    background-color: rgba(211,33,55,0.8);
    height: 15px;
    float: left;
}
.ratioinfor {
    top: -15px;
    position: relative;
    margin-right: 3px;
    margin-top: 1px;
    float: right;
    font-size: 12px;
}
.ratiogrijs {
    background-color: rgba(0,0,0,0.3);
    height: 10px;
    float: left;
    width: 328px;
}
.overgang {
    background: rgba(211,33,55,0.5);
    background: -webkit-linear-gradient(left, rgba(86,202,67,0.8), rgba(211,33,55,0.8));
    background: -o-linear-gradient(right, rgba(86,202,67,0.8), rgba(211,33,55,0.8));
    background: -moz-linear-gradient(right, rgba(86,202,67,0.8), rgba(211,33,55,0.8));
    background: linear-gradient(to right, rgba(86,202,67,0.8), rgba(211,33,55,0.8));
    width: 5px;
    height: 15px;
    float: left;
}
.bedrijf, .afdeling, .datum {
    width: 60%;
    float: left;
}
p.kostenbaten {
    text-align: right;
    width: 40%;
    float: right;
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
}

/* ARCHIEF */
.archiefbuttons {
    height: 30px;
    margin-bottom: 15px;
}
.zoekbalk, .zoek{
    float: right;
    margin-left: 5px;
}
.undo, .zoek {
    margin-top: 0px;
    border: 1px solid #c4c4c4;
    background-color: #f5f5f5;
    height: 30px;
    width: 30px;
    font-size: 17px;
    box-shadow: 2px 2px 2px #e2e2e2;
}
.undo i, .zoek i {
    padding-top: 2px;
}
.undo:hover, .zoek:hover {
    background-color: #caddfc;
}
input[type=text].zoekbalk {
    box-shadow: 2px 2px 2px #e2e2e2;
    border: 1px solid #c4c4c4;
    height: 28px;
    padding-left: 5px;
    padding-right: 5px;
}
.archieflijst {
    width: 100%;
    max-height: calc(100vh - 100px);
    box-shadow: 2px 2px 2px #e2e2e2;
    overflow-y: scroll;
}
.archiefbalk {
    border: 1px solid #c4c4c4;
    background-color: #f5f5f5;
    height: 25px;
}
.archiefanalyse {
    border-bottom: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
}
.archiefbalk span {
    border-left: 1px solid #c4c4c4;
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    float: left;
}
.archiefbalk span:hover {
    background-color: #caddfc;
}
.archiefanalyse span {
    height: 20px;
    padding-left: 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    float: left;
    overflow: hidden;
    border-left: 1px solid #c4c4c4;
}
.checktop {
    height: 25px;
    width: 25px;
    float: left;
}
.check {
    float: left;
    margin: 5px;
    height: 15px;
    width: 15px;
}
.anaam {
    width: 0px;
}
.abedrijf {
    width: 375px;
}
.aafdeling {
    width: 375px;
}
.adatum {
    width: 135px;
}
span.aomzet {
    width: 115px;
    text-align: right;
    padding-left: 0px;
    padding-right: 5px;
}
span p {
    text-align: right;
    width: 120px;
}

/* PROFIEL */
.window {
    background-color: #ffffff;
    padding: 15px;
    padding-left: 0px;
    padding-top: 8px;
}
.edit .window {
    width: 300px;
    margin: 0 auto;
}
.edit .window .half {
    width: 265px;
}
.edit .window .patbijdrage {
    padding-top: 15px;
}
.edit input[type=text].half {
    width: 50px;
    float: right;
}
.edit input[type=text] {
    border: 1px solid #c4c4c4;
    height: 22px;
    width: 288px;
    padding-left: 5px;
    padding-right: 5px;
}
.window form div {
    padding-top: 7px;
}
.window form div.clear {
    padding: 0px;
}
input[type=text], input[type=password] {
    border: 1px solid #c4c4c4;
    height: 22px;
    width: 308px;
    padding-left: 5px;
    padding-right: 5px;
}
button {
    margin-top: 10px;
    border: 1px solid #c4c4c4;
    background-color: #f5f5f5;
    padding: 3px;
    width: 270px;
}
button:hover {
    background-color: #caddfc;
}
.analysetop button {
    margin-top: 0px;
    border: 0px;
    padding: 0px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    font-size: 18px;
    text-decoration: none;
    color: black;
    float: right;
}
.analysetop button a:hover {
    color: #56ca43;
}
li button {
    width: auto;
    height: 40px;
    background-color: transparent;
    margin-top: 0px;
    border: 0px;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px;
}
li button:hover {
    background-color: #56ca43;
}
h1.profiel {
    font-weight: 400;
    margin-top: 7px;
    margin-bottom: 0px;
    font-size: 16px;
    border-bottom: none;
}
.nr, .bus, .pc {
    width: 83.33px;
    float: left;
}
.nr input, .bus input, .pc input {
    width: 71px;
}
.nr, .bus {
    margin-right: 10px;
}

/* LOGINREGISTER */
main.login {
    margin-top: 0px;
    min-height: 100vh;
    min-width: 1080px;
    background-image: url(/images/abs-it-helping-hand.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.login .window {
    background-color: #ffffff;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 320px;
    padding: 15px;
    padding-top: 8px;
    box-shadow: 2px 2px 2px #5f5f5f;
}
.login .welkom {
    box-shadow: 2px 2px 2px #5f5f5f;
    background-color: #ffffff;
    width: 550px;
    height: 224px;
    top: 50px;
    left: 450px;
    padding: 15px;
    padding-top: 5px;
    position: absolute;
}
.login .welkom p {
    font-size: 14px;
    margin-top: 7px;
}
.login label {
    margin-top: 7px;
    width: 320px;
}
.login button, .login a.button, .edit button, .edit a.button, .vragen .button, .overzicht .button {
    margin-top: 10px;
    border: 1px solid #c4c4c4;
    background-color: #f5f5f5;
    padding: 3px;
    width: 150px;
    text-decoration: none;
    color: #000000;
    text-align: center;
}
.overzicht .button {
    padding-left: 20px;
    padding-right: 20px;
}
.login button:hover, .login a.button:hover, .edit button:hover, .edit a.button:hover, .vragen .button:hover, .overzicht .button:hover {
    background-color: #caddfc;
    cursor: pointer;
}
.login .rightbutton {
    float: right;
}
.edit a.rightbutton, .edit button {
    margin-right: 10px;
    float: left;
    width: 141px;
}
.edit a.rightbutton {
    margin-right: 0px;
}
.login input.rememberme {
    margin-top: 10px;
    height: 15px;
    width: 15px;
    padding: 3px;
}
.login .forgotpass {
    margin-top: 10px;
}
.login h2 {
    font-weight: 500;
    margin-top: 7px;
    font-size: 18px;
}
.login h2 + div p {
    margin-top: 0px;
}

/*KOSTENBATEN*/
.baten, .kosten {
    box-shadow: 2px 2px 2px #e2e2e2;
    width: 540px;
    float: left;
}
.baten h2, .kosten h2 {
    background-color: #f5f5f5;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}
.baten h2 {
    border-top: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
}
.kosten h2 {
    border: 1px solid #c4c4c4;
    text-align: right;
}
.info, .bedrag, h2.top, .subtotaal {
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.info {
    color: #000000;
    text-decoration: none;
    width: calc(416px - 32px);
    float: left;
    height: 34px;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
}
a.info:hover {
    background-color: #caddfc;
}
.kosten .info {
    width: calc(416px - 32px);
}
.bedrag {
    background-color: #f5f5f5;
    width: calc(124px - 30px);
    float: left;
    height: 17px;
    padding-top: 13.5px;
    padding-bottom: 13.5px;
    border-bottom: 1px solid #c4c4c4;
}
.kosten .bedrag {
    width: calc(124px - 31px);
    border-left: 1px solid #c4c4c4;
}
.baten .bedrag, .kosten .info {
    text-align: right;
}
.subtotaal {
    width: calc(248px - 30px);
    box-shadow: 2px 2px 2px #e2e2e2;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    background-color: #f5f5f5;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.subtotaal p {
    font-size: 18px;
}

/* KOST EN BAAT VRAGEN */
.vragen label, .vragen input, .vragen select {
    font-size: 13px;
}
.vragen .window {
    padding-right: 0px;
}
.vragen .vak {
    float: left;
    width: 220px;
    margin-right: 8px;
}
.vragen .vak input {
    width: 208px;
}
.vragen button {
    margin-top: 24px;
    padding-top: 4px;
    padding-bottom: 3px;
    font-size: 13px;
    width: 100px;
}
.vragen .vraag1 button {
    margin-top: 7px;
}
.vragen .vraag1 {
    padding-top: 0px;
    margin-top: -10px;
}
.vragen p.vraag {
    margin-top: 10px;
}
.vragen .button {
    padding-left: 23.5px;
    padding-right: 23.5px;
    font-size: 13px;
}
.vragen .alert {
    width: 220px;
    margin-right: 8px;
    float: left;
}
.vragen .vraag1 .alert {
    float: none;
}
.vragen .spacing-15 {
    height: 15px;
}
.doelgroep select, .ondersteun select {
    height: 24px;
    border: 1px solid #c4c4c4;
}
.doelgroep select, .doelgroep.vak {
    width: 155px;
}
.ondersteun select, .ondersteun.vak {
    width: 155px;
}
.functie input[type=text] {
    width: 118px;
}
.functie.vak {
    width: 130px;
}
.uren input[type=text] {
    width: 98px;
}
.uren.vak {
    width: 110px;
}
.maandloon input[type=text] {
    width: 138px;
}
.maandloon.vak {
    width: 150px;
}
.maandenibo input[type=text] {
    width: 130px;
}
.maandenibo.vak {
    width: 142px;
}
.totaleibo input[type=text] {
    width: 178px;
}
.totaleibo.vak {
    width: 190px;
    margin-right: 0;
}
.vragen .terug {
    margin-top: 0;
    width: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.overzicht table {
    margin-top: 20px;
    display: table;
    border: solid 1px #c4c4c4;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: #c4c4c4;
}
.overzicht table th{
    border: solid 1px #c4c4c4;
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
}
.overzicht table tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
 .overzicht table th:nth-child(odd) {
     background-color: #f5f5f5;
}
.overzicht table tbody {
    border: solid 1px #c4c4c4;
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

/*  ---TOOLTIPS---  */

.hint { 
    position: relative; 
    display: inline-block;
}

.hint:before, .hint:after {
    position: absolute;
    opacity: 0;
    z-index: 1000000;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    pointer-events: none;
}
.hint:hover:before, .hint:hover:after {
	opacity: 1;
}

.hint:before {
	content: '';
	position: absolute;
	background: transparent;
	border: 6px solid transparent;
	position: absolute;
}
		
.hint:after {
	content: attr(data-hint);
	background: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 6px 8px;
    font-size: 12px;
	white-space: nowrap;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.hint--top:before {
	bottom: 100%;
	left: 50%;
	margin: 0 0 -18px -5px;
	border-top-color: rgba(0, 0, 0, 0.85);
}
		
.hint--top:after {
	bottom: 100%;
	left: 50%;
	margin: 0 0 -6px -15px;
}

.hint--top:hover:before {
	margin-bottom: -10px;
}

.hint--top:hover:after {
	margin-bottom: 2px;
}