* {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
}
.clear {
    clear: both;
}
main {
    height: 100vh;
    min-width: 1080px;
    background-image: url(/images/abs-it-helping-hand.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.window {
    background-color: #ffffff;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 270px;
    padding: 15px;
    padding-top: 8px;
    box-shadow: 2px 2px 2px #5f5f5f;
}
.welkom {
    box-shadow: 2px 2px 2px #5f5f5f;
    background-color: #ffffff;
    width: 600px;
    top: 50px;
    left: 400px;
    padding: 15px;
    padding-top: 5px;
    position: absolute;
}
.welkom p {
    font-size: 14px;
    margin-top: 7px;
}
.login label {
    margin-top: 7px;
}
input[type=text] {
    border: 1px solid #c4c4c4;
    height: 22px;
    width: 258px;
    padding-left: 5px;
    padding-right: 5px;
}
button {
    margin-top: 10px;
    border: 1px solid #c4c4c4;
    background-color: #f5f5f5;
    padding: 3px;
    width: 130px
}
button:hover {
    background-color: #caddfc;
}
.rightbutton {
    float: right;
}
input.rememberme {
    margin-top: 10px;
    height: 15px;
    width: 15px;
    padding: 3px;
}
.forgotpass {
    margin-top: 10px;
}
.alert {
    color: #d32137;
    font-size: 13px;
}
h1 {
    font-weight: 400;
    margin-top: 7px;
    margin-bottom: -7px;
    font-size: 16px;
}
h2 {
    font-weight: 500;
    margin-top: 7px;
    font-size: 18px;
}
h2 + div p {
    margin-top: 0px;
}
.nr, .bus, .pc {
    width: 83.33px;
    float: left;
}
.nr input, .bus input, .pc input {
    width: 71px;
}
.nr, .bus {
    margin-right: 10px;
}
